/* body {
    background-color: white;
}


nav {
    background-color: #FFB4B0;
    border: 2px solid black;
    border-spacing: 5px 10px;
    margins: 2%;
    padding: 2%;

}

.leftBox {
    background-color: #4DD7FA;
    text-color: black;
    border: 2px solid black;
    border-spacing: 5px 10px;
    margins: 2%;
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}   

.songInfo {
    background-color: #FEFAC0;
    text-color: black;
    border: 2px solid black;
    border-spacing: 5px 10px;
    margins: 2%;
    padding: 2%;

}

p {
    font-size: 3em;
}

span {
    font-size: 1.2em;
} */
/* 
**********************
NEW CODE 
********************** */
ul > li {
    display: inline;
    list-style-type: none;
    margin: 5px 15px 0 15px;
    background-color: goldenrod;
    padding: 5px;
  }
  
  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  body {
    font-size: 2em;
  }
